.contact__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1px solid lightgray;

  &--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;   

    & > .MuiSvgIcon-root {
      margin-right: 2vw;
      font-size: 24px !important;
    }
  }
}
